.contactInfo p {
    text-align: center;
    font-weight: 500;
}

input[type=text],input[type=email] {
    font-size: 16px;
    position: relative;
    vertical-align: top;
    font-family: 'Droid Serif', serif;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    /* padding: 12px 20px; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
    height: 35px;
    margin-top: 1rem;
    margin-left: 2rem;
}
input[type=submit]:hover {
    background-color: #45a049;
}

.contact-card .color-overlay {
    background: rgba(64, 84, 94,0.5);
    width: 50rem;
    height: 630px;
    position: absolute;
    top: 0;
    left: 0;
  }

.contact-card {
    max-width: 50rem;
    width:100%;
    height: 65vh;
    position: absolute;
    font-family: 'Droid Serif', serif;
    color:#fff;
    top: 13.5%;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition:all 0.4s;
    background-color: black;
    background-size: 100%;
    overflow: auto;
  }
  .contact-card a{ 
    color:#fff;
    text-decoration:none;
    transition:all 0.2s
  }

  .contact-card:hover .card-info {
    opacity: 1;
    bottom: 100px;
  }
  
  .contact-card {
      margin-left: 35.5rem;
  }

  .informationAboutMe {
      margin-top: 7rem;
  }

  .title-content {
      margin-top: 1.5rem;
  }

.informationAboutMe strong {
    float: left;
    margin-right: 8px;
    padding: 1px 8px;
    background: #2eca7f;
    font-size: 14px;
    line-height: 20px;
    color: #fefefe;
    font-weight: 400;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    position: relative;
    z-index: 10;
}

.contactMeForm {
    -webkit-box-sizing: border-box;
    color: white;
}


ul {
    list-style-type:none;
}

.infoCard li {
    /* display: flex;
    justify-content: center; */
    margin-left: 5rem;
    padding: 11px 30px;
    display: block;
    width: 100%;
    position: relative;
}

hr {
    width: 32.5em;
    margin-right: 7.5rem;
}

select, textarea {
    display: flex;
    align-items: space-evenly;
    margin-left: 15rem;
    width: 40%;
    height: 55px;
    font-size: 16px;
    position: relative;
    vertical-align: top;
    font-family: 'Droid Serif', serif;
}

.subjectName {
    margin-top: 2rem;
    position: relative;
}

.flex {
    display: flex;
    justify-content: row;
    width: 30%;
    height: 35px;
    margin-left: 10rem; 
    position: relative;
}

.inputForName {
    margin-left: 0;
    margin-right: 5rem;
}

.namesName {
    margin-right: 5.5rem;
    position: relative;
    z-index: 100;
}


.title-content2 {
    position: relative;
    z-index: 500;
    
}

.contactForm {
    position: relative;
}