.home-card {
    max-width: 50rem;
    width:100%;
    height: 65vh;
    position: absolute;
    font-family: 'Droid Serif', serif;
    color:#fff;
    top: 13.5%;
    overflow: hidden;
    border-radius: 0px;
    text-align: center;
    transition:all 0.4s;
    background-image: url('../images/rsz_img_1634.png');
    background-size: 100%;
    -webkit-animation-name: mymove; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: mymove;
    animation-duration: 2s;
    margin-left: 35.5rem;
    box-shadow: 0 10px 6px -6px #777;
  }
  
  @-webkit-keyframes mymove {
    from {left: -5rem;}
    to {left: 7.5rem;}
  }
  
  @keyframes mymove {
    from {left: -5rem;}
    to {left: 7.5rem;}
  }

  .introductionToMe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3.5rem;
    margin-top: 20vh;
    font-size: 4.5vh;
    margin-bottom: 0;
    color: black;
    -webkit-animation: fadein 7s;

  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

  .hrForHome { 
      background-color: black;
      width: 5.6em;
      margin-right: 0.5rem;
      border-color: black;
  }


