.projects-card {
    max-width: 50rem;
    width:100%;
    height: 65vh;
    position: absolute;
    font-family: 'Droid Serif', serif;
    color:#fff;
    top: 13.5%;
    /* right: 0;  
    left: 0; */
    margin-right: 3rem auto;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0 10px 6px -6px #777;
    text-align: center;
    transition:all 0.4s;
    background: black;
    background-size: 100%;
    -webkit-animation-name: cardmove; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: cardmove;
    animation-duration: 2s;
  }

  @-webkit-keyframes cardmove {
    from {left: 25rem;}
    to {left: 43rem;}
  }
  

  @keyframes cardmove {
    from {left: 25rem;}
    to {left: 43rem;}
  }

  .projects-card a{ 
  color:#fff;
    text-decoration:none;
    transition:all 0.2s
  }

  .projects-card .color-overlay {
    background: rgba(64, 84, 94,0.5);
    width: 50rem;
    height: 100vh;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    transition: 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
  }
  
  .projects-intro {
    width: 170px;
    margin: auto;
    color: #ddd;
    font-style: italic;
    line-height: 18px;
    margin-top: 6.5rem;
    margin-right: 20.5rem;
  }
  .projects-intro a{
    color: #ddd
  }
  .projects-intro a:hover{
    text-decoration:underline
  }

  .projects-intro{
    font-size:0.8em
  }

  .guardianLogo {
    margin-left: 8rem;
    z-index: 20;
    position: absolute;
    margin-top: 0.2rem;
    width: 14rem;
  }

  .localLogo {
    height: 2rem !important;
    position: absolute;
    z-index: 20;
    margin-left: 30rem;
    width: 11rem;
    margin-top: 1.2rem;
  }
  
  .logoForLocal {
    height: 4rem;
  
  }