@import url(//fonts.googleapis.com/css?family=Abril+Fatface|Droid+Serif:400,700,400italic,700italic);
.resume-card {
    max-width: 50rem;
    width:100%;
    height: 70vh;
    position: absolute;
    font-family: 'Droid Serif', serif;
    color:#fff;
    top: 13.5%;
    margin-right: 3rem auto;
    border-radius: 0px;
    box-shadow: 0 10px 6px -6px #777;
    text-align: center;
    transition:all 0.4s;
    background-color: black;
    background-size: 100%;
    overflow: auto;
    -webkit-animation-name: cardmove; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: cardmove;
    animation-duration: 2s;
  }

  @-webkit-keyframes cardmove {
    from {left: 25rem;}
    to {left: 43rem;}
  }
  
  @keyframes cardmove {
    from {left: 25rem;}
    to {left: 43rem;}
  }

  .resume-card a{ 
  color:#fff;
    text-decoration:none;
    transition:all 0.2s
  }

  .resume-card .color-overlay {
    background: rgba(64, 84, 94,0.5);
    width: 50rem;
    height: 150vh;;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
  }

  
  .resume-intro {
    display: flex;
    justify-content: center;
    /* width: 170px; */
    /* margin: 0 auto; */
    color: #ddd;
    font-style: italic;
    line-height: 18px;
  }
  .resume-intro a{
    color: #ddd
  }

  .resume-intro{
    font-size:0.8em
  }

  .resume-card:hover .title-content .title-content{
    margin-top: 20px;
  }

  .bio {
    padding-top: 8.5rem;
    color: white;
    padding-left: 4rem;
    padding-right: 4rem;
  }

 .titleOfEducation {
  font-weight: bold;
  font-size: 20px;
 }

 .resumeWrapper {
   justify-content: space-between;
   list-style-type: none;
 }

 .resumeWrapper ul {
  list-style-type: none;
  line-height: 1.8rem;
 }

 .ExperienceTitle {
  font-weight: bolder;
  font-size: 20px;
 }

 .titleOfExperience {
   display: flex;
   justify-content: center;
   margin-right: 2rem;
  font-weight: bold;
 }


 .detailsOfExperience {
   display: flex;
   justify-content: space-evenly;
   margin: 1rem;
 }


 .detailsOfExperience2 {
  display: flex;
  justify-content: space-evenly; 
  margin-right: 2rem;
 }

 .detailsOfExperience li {
  /* border-left: 1px solid white; */
  padding: 2px;
  margin: 2px;
}

.detailsOfExperience2 li {
  /* border-left: 1px solid white; */
  padding: 2px;
  margin: 2px;
}
